<div class="card mb-3 mt-3">
  <div class="card-header">
    <h5>
      Most Popular
    </h5>
  </div>
  <div class="card-body">
    <div class="d-flex flex-wrap gap-2">
      {{#each sidebar.popular}}
        <a href="/images/{{uniqueId}}"><img
            src="/public/upload/{{filename}}"
            style="width: 75px; height: 75px;"
            class="img-thumbnail"
          />
        </a>
      {{/each}}
    </div>
  </div>
</div>