<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Stats
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10 text-right">
        <span class="col-md-2 text-left">Images:</span>
        <span class="badge badge-secondary">{{sidebar.stats.images}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 text-right">
        <span class="col-md-2 text-left">Comments:</span>
        <span class="badge badge-secondary">{{sidebar.stats.comments}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 text-right">
        <span class="col-md-2 text-left">Views:</span>
        <span class="badge badge-secondary">{{sidebar.stats.views}} </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 text-right">
        <span class="col-md-2 text-left">Likes:</span>
        <span class="badge badge-secondary">{{sidebar.stats.likes}} </span>
      </div>
    </div>
  </div>
</div>