<div class="card">
  <div class="card-header">
    <h5>
      Stats
    </h5>
  </div>
  <div class="card-body">
    <div class="vstack gap-1">
      <div class="hstack gap-3">
        <div class="">Images:</div>
        <div class="badge bg-secondary ms-auto">{{sidebar.stats.images}} </div>
      </div>
      <div class="hstack gap-3">
        <div class="">Comments:</div>
        <div class="badge bg-dark ms-auto">{{sidebar.stats.comments}}
        </div>
      </div>
      <div class="hstack gap-3">
        <div class="">Comments:</div>
        <div class="badge bg-primary ms-auto" style="--bs-bg-opacity: .8;">{{sidebar.stats.views}} </div>
      </div>
      <div class="hstack gap-3">
        <div class="">Likes:</div>
        <div class="badge bg-success ms-auto">{{sidebar.stats.likes}} </div>
      </div>
    </div>
  </div>
</div>